@charset "utf-8";
/* CSS Document */

.top-nav ul li {
	float: left;
	list-style-type: none;
	display: block;
	width: 15%;
	height: 60px;
	text-align: center;
	line-height: 60px;
}
.header {
	height: 60px;
	width: 100%;
	background-color: #020202;
}
ul li a {
	font-family: anton;
	font-style: normal;
	font-weight: 400px;
}
.banner   {
	background-image: url(../images/2.jpg);
	min-height: 730px;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	

}
.banner .container .banner-main {
	padding-top: 50px;
	padding-left: 10px;
}
.col-md-6.about-left .social-icons ul {
	list-style-type: none;
	padding-top: 0px;
}
.social-icons ul li {
	display: inline-block;
	
	
}
.social-icons ul li a {
  background: url(../images/ftr-icons.png)no-repeat;
  width: 36px;
  height: 36px;
  display: inline-block;
  margin: 0em 0.3em 0em 0em;
  opacity:0.5;
}

ul li a.facebook {
	background-position: 0px 0px;
}
ul li a.twitter {
	background-position: -36px 0px;
}
ul li a.gmail {
	background-position: -70px 0px;
}
ul li a.dribble {
	background-position: -105px 0px;
}
.about-box {
	float: left;
}
.about-box h5 {
	line-height: 28px;
}
.about-box h5 .ab-box {
	background-color: #16E5FF;
	color: #FFFFFF;
	font-size: medium;
	max-width: 400;
	text-align: center;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	padding: 1em;
}
.col-md-6.about-right .about-grid .about-text {
	float: left;
	width: 85%;
}
.about-grid .about-text h4 {
	  font-size: 1.25em;
  font-weight: 400;
  color: #2ad2c9;
  margin: 0em 0em 0.15em 0em;
  font-family: 'Droid Serif', serif;
}
